# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\meit-phone-web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
